<div *ngIf="cartItems.length > 0" class="container-fluid">
  <h3>Checkout</h3>
  <table class="table table-hover">
    <tbody>
    <tr *ngFor="let item of cartItems">
      <td class="product-detail">
        <app-cart-item [cartItem]="item"></app-cart-item>
      </td>
      <td class="product-remove">
        <button (click)="deleteItem(item._id)" class="btn btn-danger" type="button">Delete</button>
      </td>
    </tr>
    <tr class="table-success">
      <td>
        <button class="checkout btn btn-primary" type="button">Buy</button>
      </td>
      <td>
        Total: {{cartTotal}}
      </td>

    </tr>
    </tbody>
  </table>
