<div *ngIf="productList.length > 0;then list else noitems"></div>
<div class="container-fluid">

  <ng-template #list>
    <div class="row">
      <div *ngFor="let product of productList" class="col-4">
        <app-product-item [productItem]="product"></app-product-item>
      </div>
    </div>
    <div class="loadMore">
      <button (click)="loadMoreProducts()" *ngIf="more == true" class="btn-primary btn">Load More</button>
    </div>
    <div *ngIf="more == false">
      <div class="noResults">No more results</div>
    </div>
  </ng-template>
  <ng-template #noitems>
    <div class="noResults">
      No results.. Try again
    </div>
  </ng-template>

</div>

