:host {
  /* width: 80%;
   display: inline-block;*/

  .product-name,
  .product-price {
    width: 100%;
    display: inline-block;
    text-align: left;
  }

  .product-name {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  button.btn-danger {
  }
}
